<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1 class="title">Unit Converter</h1>
    <section>
        <div class="container">
            <div class="tab-wrap">
                {% for m in menu%}
                <!-- active tab on page load gets checked attribute -->
                <input type="radio" id="tab{{loop.index}}" name="tabGroup1" class="tab" {% if loop.first
                    %}checked="checked" {% endif %}>
                <label for="tab{{loop.index}}">{{m}}</label>
                {% endfor %}
                <div class="tab__content">
                    <p>
                        <b>Length</b> is a measure of distance. In the International System of Quantities, length is a
                        quantity
                        with dimension distance. In most systems of measurement a base unit for length is chosen, from
                        which all other units are derived. In the International System of Units (SI) system the base
                        unit for length is the metre.
                        Length is commonly understood to mean the most extended dimension of a fixed object. However,
                        this is not always the case and may depend on the position the object is in.
                    </p>
                    <div class="wrap_form">
                        <form method="POST" action="/" id="length_form">
                            <div class="unit1">
                                {{ lengthForm.from_unit }}
                                {{ lengthForm.from_number(size=20, placeholder="0") }}
                            </div>
                            <div class="unit1 label">→</div>
                            <div class="unit1">
                                {{ lengthForm.to_unit }}
                                {{ lengthForm.to_number(size=20, placeholder="0") }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab__content">
                    <p>
                        In science and engineering, the <b>weight</b> of an object is a quantity associated with the
                        gravitational force exerted on the object by other objects in its environment, although there is
                        some variation and debate as to the exact definition.
                    </p>
                    <p>
                        Some standard textbooks define weight as a vector quantity, the gravitational force acting on
                        the object. Others define weight as a scalar quantity, the magnitude of the gravitational
                        force. Yet others define it as the magnitude of the reaction force exerted on a body by
                        mechanisms that counteract the effects of gravity: the weight is the quantity that is measured
                        by, for example, a spring scale. Thus, in a state of free fall, the weight would be zero. In
                        this sense of weight, terrestrial objects can be weightless: so if one ignores air resistance,
                        one could say the legendary apple falling from the tree[citation needed], on its way to meet the
                        ground near Isaac Newton, was weightless.
                    </p>
                    <div class="wrap_form">
                        <form method="POST" action="/" id="weight_form">
                            <div class="unit1">
                                {{ weightForm.from_unit }}
                                {{ weightForm.from_number(size=20, placeholder="0") }}
                            </div>
                            <div class="unit1 label">→</div>
                            <div class="unit1">
                                {{ weightForm.to_unit }}
                                {{ weightForm.to_number(size=20, placeholder="0") }}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab__content">
                    <p>
                        <b>Temperature</b> is a physical quantity that quantitatively expresses the attribute of hotness
                        or coldness. Temperature is measured with a thermometer. It reflects the average kinetic energy
                        of the vibrating and colliding atoms making up a substance.
                    </p>
                    <p>
                        Thermometers are calibrated in various temperature scales that historically have relied on
                        various reference points and thermometric substances for definition. The most common scales are
                        the Celsius scale with the unit symbol °C (formerly called centigrade), the Fahrenheit scale
                        (°F), and the Kelvin scale (K), the latter being used predominantly for scientific purposes. The
                        kelvin is one of the seven base units in the International System of Units (SI).
                    </p>
                    <div class="wrap_form">
                        <form method="POST" action="/" id="temp_form">
                            <div class="unit1">
                                {{ tempForm.from_unit }}
                                {{ tempForm.from_number(size=20, placeholder="0") }}
                            </div>
                            <div class="unit1 label">→</div>
                            <div class="unit1">
                                {{ tempForm.to_unit }}
                                {{ tempForm.to_number(size=20, placeholder="0") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        document.querySelector('#length_form').addEventListener('change', function (event) {
            const formData = new FormData(this);
            const from_number = document.querySelector('#length_form').from_number;
            const to_number = document.querySelector('#length_form').to_number;

            if (from_number.value.trim() === '') {
                from_number.value = 0;
            }
            if (to_number.value.trim() === '') {
                to_number.value = 0;
            }

            const data = {
                value: parseFloat(formData.get('from_number')),
                from_unit: formData.get('from_unit'),
                to_unit: formData.get('to_unit')
            };

            if (!from_number.checkValidity() || !to_number.checkValidity()) {
                return;
            }

            fetch('/length_conversion', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    to_number.value = data.converted_value;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        document.querySelector('#weight_form').addEventListener('change', function (event) {
            const formData = new FormData(this);
            const from_number = document.querySelector('#weight_form').from_number;
            const to_number = document.querySelector('#weight_form').to_number;

            if (from_number.value.trim() === '') {
                from_number.value = 0;
            }
            if (to_number.value.trim() === '') {
                to_number.value = 0;
            }

            const data = {
                value: parseFloat(formData.get('from_number')),
                from_unit: formData.get('from_unit'),
                to_unit: formData.get('to_unit')
            };

            if (!from_number.checkValidity() || !to_number.checkValidity()) {
                return;
            }

            fetch('/weight_conversion', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    to_number.value = data.converted_value;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        document.querySelector('#temp_form').addEventListener('change', function (event) {
            const formData = new FormData(this);
            const from_number = document.querySelector('#temp_form').from_number;
            const to_number = document.querySelector('#temp_form').to_number;

            if (from_number.value.trim() === '') {
                from_number.value = 0;
            }
            if (to_number.value.trim() === '') {
                to_number.value = 0;
            }

            const data = {
                value: parseFloat(formData.get('from_number')),
                from_unit: formData.get('from_unit'),
                to_unit: formData.get('to_unit')
            };

            if (!from_number.checkValidity() || !to_number.checkValidity()) {
                return;
            }

            fetch('/temp_conversion', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    to_number.value = data.converted_value;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>

</html>